.App {
  text-align: center;
  background-color:#ebf0f3;
}
.jobAdvertCard{
  width: 95% !important;
  margin-top: 1em;
}
.p1em{
  padding-bottom: 1em !important; 
}
.w100{
  width: auto!important;
}
.mt1em{
  margin-top: 1em !important;
}
.mr0{
  margin-right: 0 !important;
}
.mt1bem{
  margin-top: 1.5em !important;
  padding: 0;
}